<div class="card-user">
    <h3>
        <%= user.name %>
    </h3>
    <p>
        <%= user.email %>
    </p>
    <p>
        <%= user.description %>
    </p>
    <div class="footer">
        <a href="/edit-user/<%= user.id %>">
            <button class="confirm-button">
                EDITAR
            </button>
        </a>
        <a href="/deleting-user/<%= user.id %>">
            <button class="cancel-button">
                APAGAR
            </button>
        </a>
    </div>
</div>